<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Properties>
    <Property name="root.log.level">INFO</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSSZZZ}}{dim}
      %style{|}{dim} %highlight{%-5level}{INFO=cyan, ERROR=bright red, WARN=bright yellow}
      %style{|}{dim} %style{%t}{cyan}
      %style{|}{dim} %style{%c{1}}{cyan}
      %style{|}{dim} %highlight{%m}{INFO=Normal, ERROR=bright red, WARN=bright yellow}%n" />    </Console>
  </Appenders>
  <Loggers>
    <Root level="${sys:root.log.level}">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
